################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Version
/Code/AspNetCore.DynaX.UnitOfWorks.Web/obj
/Code/AspNetCore.DynaX.UnitOfWorks.Web/bin
/Code/AspNetCore.DynaX.Logs.Web/obj
/Code/AspNetCore.DynaX.Logs.Web/bin
/Code/AspNetCore.DynaX.DbContexts.Web/obj
/Code/AspNetCore.DynaX.DbContexts.Web/bin
/Code/AspNetCore.DynaX.Caches.Web/obj
/Code/AspNetCore.DynaX.Caches.Web/bin
/Code/AspNetCore.DynaX/obj
/Code/AspNetCore.DynaX/bin
/Code/.vs
/Code/AspNetCore.DynaX.Web/Properties
/Code/AspNetCore.DynaX.Web/obj
/Code/AspNetCore.DynaX.Web/bin/Debug/
/Code/AspNetCore.DynaX/bin/Release/
/Code/AspNetCore.DynaX.Myrmec/obj/Release
/Code/AspNetCore.DynaX.Myrmec/bin/Release
*.user
*.exe
*.pdb