@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DynaX 工具集 使用指南</h1>
    <p>&nbsp;</p>
    <p><a href="/DynaX/Extensions/AutoMapper" target="_blank">DynaX.AutoMapper DataTable To List&lt;T&gt;</a></p>
    <p><a href="/DynaX/Utils/TypeMerger" target="_blank">DynaX.Utils.TypeMerger 匿名类型合并工具</a></p>
</div>
